html,body,#root{
  width: 100%;
  height: 100%;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
.App {
  text-align: center;
  width: 100%;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.app-container{
  width: 100%;
  height: 100%;
  display: flex;
}
.clear-container{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.left-container{
  width: 30%; 
  position: relative;
  border: .5px solid black;
  margin: 10px;
}

.recent-location{
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.temp-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.temp-container img{
  width: 3em;;
}
.cursor{
  cursor: pointer;
}
.clear-button{
  padding: 10px;
  border: none;
  margin-right: 3%;
  margin-bottom: 3%;
  cursor: pointer;
  float: right;
}
.add-location-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.add-location-container input{
  padding: 8px;
  width: 80%;
  border: none;
  outline: none;
}
.actions-container i{
  cursor: pointer;
  font-size: 16px;
  padding: 0 5px;
}
.add-location-container i{
  font-size: 25px;
  cursor: pointer;
}
.recent-added-locations{
  width: 100%;
  text-align: left;
}
.recent-added-locations p {
  margin: 1%;
}
.recent-location p {
  width: 20%;
}
.recent-locations{
  float: right;
}
.divider{
  border-bottom: 1px solid black;
}
.small-divider{
  border-top: 1px solid black;
  margin: 3%;
}
.right-container{
  width: 70%;
  border: .5px solid black;
  margin: 10px; 
  }
.right-container i{
  cursor: pointer;
}
.error-message{
  color: rgb(190, 63, 63);
  font-size: 12px;
}
.place-container{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 10px;
}
.header-text{
  margin-left: 5%;
}
.weather-content{
  width: 100%;
  display: flex;
}

.content-icon{
  width: 30%;
  margin-left: 5%;
  margin-right: 5%;
}
.content-icon img{
  width:100%;
}
.content-detials{
  width: 70%;
  text-align: left;
}

.upcoming-forecast{
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

